// Font Colors
$bold_text: #313a3c;
$light_text: #7b8385;
$white: #ffffff;
$dark: #1b1b1b;
$light: #e9ebec;
$blue: #313a3b;
$yellow: #f0b60c;

// Body and Section Backgrounds
$body-bg: #fff;
$sidebar_bg: #1b1b1b;

// Borders
$bor_dark: #1b1b1b;
$bor_light: #e9ebec;
$bor_blue: #313a3b;
$bor_side_dark: #282828;

// Input Background
$sidebar_txt: #8a8a8a;
$sidebar_txt_hover: #1b1b1b;
$link_blue: #7b8385;
$input_dark: #313b3d;
$input_placeholder: #b0bdc0;

// Responsiveness
